@model ApplicationCore.Models.FavoriteResponseModel;


@{
    ViewData["Title"] = "Favorited Movies";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<h1>Favorites</h1>

<div class="rounded">
    <div class="container-fluid">
        <div class="row">

            @foreach (var movie in Model.FavoriteOfMovieCards)
            {
                <div class="col-xl-2 col-sm-4 col-md-3 col-6">
                    <partial name="_MovieCard" model="movie" />
                </div>
            }
        </div>
    </div>
</div>
@*<div class="rounded">
    <div class="container-fluid">
        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="col-6 col-xl-2 col-sm-4 col-lg-3">
                    <partial name="_MovieCard" model="movie" />
                </div>
            }
        </div>
    </div>
</div>*@
@*<div>
    <h4>FavoriteRequestModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>*@
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
